<p class="text-center"><b>Comentário(s)</b></p>
<% @count = 1%>
<% @comments.each do |comment| %>
    <p><%=('<b>' + @count.to_s + '. </b>' + comment.content).html_safe %></p>
    <% @count += 1%>
<% end%>
<hr>