<header class="masthead" style="height: 75px">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="text-center font-weight-bold">
            Cometário para postagem: <%= @post.title %>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <%= render 'form_new' %>
        </div>
    </div>
</div>
