<h1>Página Inicial do Blog</h1>
<p>Aqui é por onde tudo começa, seu bosta</p>
<p>-------------------------------------------------</p>
<p>Navegação</p>
<%= link_to 'Post Index', posts_path %> | <%= link_to 'Novo Post', new_post_path %>
