<header class="masthead" style="background-image: url('/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog Model</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
   <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% @posts.each do |post| %>
          <div class="post-preview">
            <%= link_to post_path(post.id) do %>
              <h2 class="post-title">
                <%= post.title %>
              </h2>
            <% end %>
            
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
<!--Scripts-->
<% if flash[:notice] %>
  <script>
    iziToast.success({
    title: 'OK',
    message: '<%= flash[:notice]%>',
    position: 'topRight'
});
  </script>
<%end%>