<header class="masthead" style="height: 75px">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% @posts.each do |post| %>
          <div class="post-preview">
            <%= link_to post_path(post.id) do %>
              <h2 class="post-title">
                <%= post.title %>
              </h2>
              <h3 class="post-subtitle">
                Exemplo de subtítulo. Inserir posteriormente
              </h3>
            <% end %>
            <p class="post-meta">Postado por
              <a href="#">Start Bootstrap</a>
              on <%= post.created_at %></p>
          </div>
        <% end %>