<div class="col-md-2"><p></p></div>
<div class="col-md-8">
<h1>Nova postagem</h1>
<p>Aqui você vai criar a nova besteira que vai ser lida</p>
<%= render 'form'%>
</div>
<div class="col-md-2"><p></p></div>