<header class="masthead" style="background-image: url('/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= @post.title %></h1>
            
          </div>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="row">
        <div class="text-justify col-lg-8 col-md-10 mx-auto">
            <p class=""><%= @post.content.html_safe %></p>
        </div>
      </div>
    </div>
  </article>
  <div id='disapear'>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <button id="botao-ver" class="btn btn-primary ">Carregar Comentários</button>
          <button id="botao-desver" class="btn btn-primary d-none">Ocultar Comentários</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="comments" class="col-lg-8 col-md-10 mx-auto">
       
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div id="novo-comentario" class="col-lg-8 col-md-10 mx-auto">
        <button id="botao-comentar" class="btn btn-primary ">Comentar</button>
        <div id='setor-comentario'></div>
      </div>
    </div>
  </div>
   
<div id="post-id" class="d-none"><%= @post.id %></div>
<!--Scripts-->
